/* Windows Metro Snap mode fix */
@-ms-viewport{
  width: device-width;
}

img{
  width: 100%;
}

h1{
  color: $pink;
  text-align: center;
}

input{
  width: 100%;
  display: block;
  @include rem("margin-top", .5);
}

input[type="text"]{
  width: 98%;
}

input[type="submit"]{
  display: block;
  color:$pink;
  @include rem("margin", 1, 0, 1, 0);
  text-align: center;
  background-color: transparent;
  text-decoration: underline;
  pointer:cursor;
  border:none;
}

#gimmeForm{
  display: block;
  width: 90%;
  margin: 0 auto;
}

header{
  width: 90%;
  margin: 0 auto;
}

.img-module, .text-module{
  width: 90%;
  margin: 0 auto;
  @include rem("margin-top", 1);
}

.more{
  display: block;
  color:$pink;
  @include rem("margin", 1, 0, 1, 0);
  text-align: center;
}